* {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url('https://source.unsplash.com/random');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}